body {
  margin: 5px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e0e0e0;
}

.text {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 18px;
}
.login {
  background-color: #00bcd4;
  border-radius: 10px;
  width: 70px;
  margin-bottom: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}
.login:hover {
 background-color: #ffffff;
}
.login a {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  size: 20px;
  padding: 10px;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}
.login a:hover {
  color:#000000;
}
.animsition {
  flex: 1 0 auto;
}

a {
  color: white!important;
}

.fb-login-button {
  margin: 0 5px 0;
  bottom: 22px;
}

nav .brand-logo {
  margin-left: 5px;
}

.container .responsive-img {
  margin-top: 5px;
}

.card-panel {
  margin-top: 0;
}

.side-nav {
  background-color: #e0e0e0;
}

.row {
  margin-top: 15px;
}

.box {
  border: 1px white solid;
  height: 180px;
  width: 180px;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  box-shadow: 5px 5px white;
  border-radius: 25px;

}

.row-box {
  text-align: center;
  vertical-align: middle;
  line-height: 260px;
  border: 1px white solid;
  box-shadow: 5px 5px white;
  border-radius: 25px;
}

.hidin {
  display: none;
}

.responsive-table {
  border: 1px solid white;
}

@media (min-width: 600px) {
  .card-image img {
    height: 359px!important;
    width: 240px!important;
    background-color: white;
  }
  .box {
    padding-bottom: 20px!important;
    position: relative;
  }
}
