<!DOCTYPE html>
<html>
  <body>
    <div class="animsition">
      <h3 class="center">About us</h3>

      <div class="container">
        <div class="col s12 m7 hoverable">
          <h5 class="header">Muhammad AlMahameed</h5>
          <div class="card">
            <div class="card-image">
                <div class="row">
                  <div class="col s6 "><img class="responsive-img" src="images/mhmd.jpeg"></div>
                  <div class="col s6"><p class="flow-text">I have over seven years of experience in research, teaching and accounting in Damascus, London and Birmingham.</p></div>
                </div>
            </div>
            <div class="card">
              <div class="card-content">
                <p> My research focuses on Social and Environmental Accounting as a part of my research vision of contributing to a body of knowledge of alternative accounting as an educational and informative mechanism that explores social justice, human rights and refugees’ crisis.
  My teaching involves delivering Financial and Management Accounting modules to accounting and non-accounting students.
  I have developed an interactive teaching tool ‘Play & Learn Accounting’ to facilitate the delivery of introductory accounting modules.
  I coach MSc students on leadership and team working skills.</p>
              </div>
            </div>
            <div class="card-action">
              <div class="row center">
                <div class="col s4">
                  <a href="https://twitter.com/@almahameed" target="_blank"><img src="images/twitter.png" alt="" /></a>
                </div>
                <div class="col s4">
                  <a href="https://mahameed.com/" target="_blank"><img src="images/w.png" alt="" /></a>
                </div>
                <div class="col s4">
                  <a href="https://www.linkedin.com/in/muhammad-al-mahameed-75867a58/" target="_blank"><img src="images/linkedin.png" alt="" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s8 hoverable">
          <h5 class="header">Wissam Ghozlan</h5>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/wis.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="flow-text">I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <div class="row center">
                  <div class="col s4">
                    <a href="" target="_blank"><img src="images/github.png" alt="" /></a>
                  </div>
                  <div class="col s4">
                    <a href="" target="_blank"><img src="images/w.png" alt="" /></a>
                  </div>
                  <div class="col s4">
                    <a href="#" target="_blank"><img src="images/linkedin.png" alt="" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s8 hoverable">
          <h5 class="header">Isa Abo-Mohana</h5>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/isa2.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="flow-text">I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <div class="row center">
                  <div class="col s4">
                    <a href="https://github.com/Isaabomohana" target="_blank"><img src="images/github.png" alt="" /></a>
                  </div>
                  <div class="col s4">
                    <a href="https://isaabomohana.github.io/" target="_blank"><img src="images/w.png" alt="" /></a>
                  </div>
                  <div class="col s4">
                    <a href="https://de.linkedin.com/in/isa-abo-mohana-a19606121" target="_blank"><img src="images/linkedin.png" alt="" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $('#about').removeClass('hidin');
        $('#profile').removeClass('hidin');
        $('#leaderboard').removeClass('hidin');
        $('#contact').removeClass('hidin');
        $('#about-2').removeClass('hidin');
        $('#profile-2').removeClass('hidin');
        $('#leaderboard-2').removeClass('hidin');
        $('#contact-2').removeClass('hidin');
      </script>
  </body>
</html>
