<!DOCTYPE html>
<html>
  <body>
    <div class="animsition">
      <h3 class="center">Contact us</h3>
    </div>
    <script type="text/javascript">
      $('#about').removeClass('hidin');
      $('#profile').removeClass('hidin');
      $('#leaderboard').removeClass('hidin');
      $('#contact').removeClass('hidin');
      $('#about-2').removeClass('hidin');
      $('#profile-2').removeClass('hidin');
      $('#leaderboard-2').removeClass('hidin');
      $('#contact-2').removeClass('hidin');
    </script>
  </body>
</html>
