<body>
  <div class="animsition">
    <h3 class="white-text center">ADMIN DASHBOARED</h3>
    <div class="left">
      <a href="/profile" class="waves-effect waves-light btn cyan">BACK</a>
    </div>
    <div class="container">
      <div class="row row-box">
        <div class="col s12">
          <a class="waves-effect waves-light btn box cyan"
            href="cases">CASES</a>
        </div>
      </div>
    </div>
  </div>
</body>
