<!DOCTYPE html>
<html>
  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=135116307017055";
        fjs.parentNode.insertBefore(js, fjs);
        }
        (document, 'script', 'facebook-jssdk'));
      </script>
    <div class="animsition">
        <div class="container">
          <img class="responsive-img" src="images/accounting.jpg">
          <div class="row">
            <div class="col s12">
              <div class="card-panel cyan center">
                <span class="white-text">For anyone who wants to learn accounting, Acc-Latte is a web app that teaches accounting through gaming. Unlike other accounting learning tools, Acc-Latte is FREE and FUN.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="fb-login-button hoverable" data-max-rows="1" data-size="xlarge" data-show-faces="flase"
            data-auto-logout-link="true"></div>
        </div>
        <div class="center">
          <p>{{user.facebook.id}}</p>
        </div>
    </div>
  </body>
</html>
