<!DOCTYPE html>
<html>
  <body>
    <div class="animsition">
        <div class="container">
          <img class="responsive-img" src="images/accounting.jpg">
          <div class="row">
            <div class="col s12">
              <div class="card-panel cyan center hoverable">
                <span class="white-text">For anyone who wants to learn accounting, Acc-Latte is a web app that teaches accounting through gaming. Unlike other accounting learning tools, Acc-Latte is FREE and FUN.
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
