<!DOCTYPE html>
<html>
  <body>
    <div class="animsition">
      <h3 class="center">LeaderBoard</h3>
    </div>
    <script type="text/javascript">
      $('#nav-ul').removeClass('hidin');
      $('#mobile-demo').removeClass('hidin');
    </script>
  </body>
</html>
