<!DOCTYPE html>
<html>
  <body>
    <div class="animsition">
      <div class="container center">
      <p>Welcome : <span> {{displayName}} </span></p>
      <h5 class="center">We Are Doing Business Here & BTW We’ll Learn Accounting Too</h5>
      <br>
      <p>Choose what type of business you’d like to start up … </p>
      <div class="row row-box">

        <div class="col s12 m4 l4">
          <a class="waves-effect waves-light btn box cyan">CofeeShop</a>
        </div>
        <div class="col s12 m4 l4">
          <a class="waves-effect waves-light btn box cyan disabled">Foto Studio</a>
        </div>
        <div class="col s12 m4 l4">
          <a class="waves-effect waves-light btn box cyan disabled">Smoothie Stall</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
