<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheet/animsition.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="stylesheet/style.css" type="text/css" rel="stylesheet" />
    </script>
  </head>

  <body>
    <div class="animsition">
      <nav>
        <div class="nav-wrapper cyan">
          <a href="" class="brand-logo">Acc-Latte</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse pulse cyan"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="">Profile</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="leaderboard.html">LeaderBoared</a></li>
            <li>
              <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="flase" data-auto-logout-link="true">
              </div>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active"><a class="animsition-link" href="/">Home</a></li>
            <li class="active"><a href="">Profile</a></li>
            <li><a class="animsition-link" href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="leaderboard.html">LeaderBoared</a></li>
            <li>
              <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="flase" data-auto-logout-link="true">
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=135116307017055";
          fjs.parentNode.insertBefore(js, fjs);
          }
          (document, 'script', 'facebook-jssdk'));
        </script>

      <h3>User profile</h3>
    </div>
      <footer class="page-footer cyan">
        <div class="footer-copyright">
          <div class="container center">
          © 2017 Copyright<br>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <script src="js/animsition.min.js"></script>
      <script src="js/index.js"></script>
  </body>
</html>
