<!DOCTYPE html>
<html>
  <body>
    <div class="animsition">
      <p>Welcome : <span> {{displayName}} </span></p>
      <div class="container center" id="cofeeShop">
        <h5 class="center">We Are Doing Business Here & BTW We’ll Learn Accounting Too</h5>
        <br>
        <p>Choose what type of business you’d like to start up … </p>
        <div class="row row-box">
          <div class="col s12 m4 l4">
            <a class="waves-effect waves-light btn box cyan"
              id="cs-btn">CofeeShop</a>
          </div>
          <div class="col s12 m4 l4">
            <a class="waves-effect waves-light btn box cyan disabled">Foto Studio</a>
          </div>
          <div class="col s12 m4 l4">
            <a class="waves-effect waves-light btn box cyan disabled">Smoothie Stall</a>
          </div>
        </div>
      </div>

      <div class="container center hidin" id="cofeeShop-wel">
        <h5>Great You’ve Chosen a Coffee Shop business, Let’s start…  </h5>
        <br>
        <h6>Now think about every thing you need to start up this business ‘be
              creative make it your own’</h6>
        <br>
        <a class="waves-effect waves-light btn cyan" id="goAhead">Go Ahead</a>      
      </div>

    </div>

    <script type="text/javascript">
      // let cofeeShop = function(){
      //   document.getElementById("cofeeShop").style.display = "none";
      //   // document.getElementById("").classList.remove('');
      // }
    </script>
  </body>
</html>
