<div class="animsition">
  <div class="left">
    <a class="waves-effect waves-light btn cyan" href="/dashboard">BACK</a>
  </div>
  <div class=" container center">
    <form action="/questions" method="POST" >
      <h5>New Question:</h5>
      <input type='text' name='question'>
      <input type='submit' class="waves-effect waves-light btn cyan" >
    </form>
    <br><br>
  </div>
</div>
