<form action="/cases/{{case.id}}" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  Case Name:
  <input type='text' name='name' value="{{case.name}}">
  <input type='submit'>
</form>
