<body>
  <div class="animsition">
    <div class="container">
      <br></br>
      <form action="/cases/{{case.id}}" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        Case Name:
        <input type='text' name='name' value="{{case.name}}">
        <input type='submit' class="waves-effect waves-light btn cyan"><br><br>
      </form>
    </div>
  </div>
</body>
