<table>
  <tr>
    <td>Name</td>
    <td>{{case.name}}</td>
  </tr>
  <tr>
    <td>Actions</td>
    <td>
      <a href="{{case.id}}/edit">Edit</a>
      <a href="{{case.id}}" method="DELETE" data-confirm="Do you want to delete?">Delete</a>
    </td>
  </tr>
</table>
