<body>
  <div class="animsition">
    <div class="container">
      <table class="striped">
        <tr>
          <td>Name</td>
          <td>{{case.name}}</td>
        </tr>
        <tr>
          <td>Actions</td>
          <td>
            <a href="{{case.id}}/edit" class="waves-effect waves-light btn cyan">Edit</a>
          </td>
        </tr>
      </table>
      <a class="waves-effect waves-light btn cyan" href="/cases">SUBMIT</a>
    </div>
  </div>
</body>
